.skeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .skeleton-navbar {
    width: 100%;
  }

  .skeleton-inner-content {
    width: 90%;
    max-width: 800px;
    margin-top: 30px;

    & > * {
      width: 100%;
    }
  }
}
